<div class="row">

  <div class="interest-education-container row">

    <div class="interest-container col-lg-6 col-sm-12 col-md-12">
      <h4>Interests</h4>
      <div class="align-start">
        <hr>
      </div>
      <ul class="interest-list">
        <div>
          <li>Behavior Driven Development</li>
          <li>DevOps</li>
          <li>Object Oriented Programming</li>
          <li>Server-Side Programming</li>
        </div>
      </ul>
    </div>

    <div class="education-container col-lg-6 col-sm-12 col-md-12">
      <h4>Education</h4>
      <div class="align-start">
        <hr>
      </div>
      <ul class="education-list">

        <a class="list-item" href="https://www.devry.edu/d/technical-management-information-technology-guide.pdf"
          target="_blank">
          <li>
            <p> B.S in Technical Management</p>
            <p class="schools">DeVry University</p>
          </li>
        </a>

        <a class="list-item" href="https://bootcamp.cps.gwu.edu/coding/curriculum/" target="_blank">
          <li>
            <p>Full Stack Coding Bootcamp</p>
            <p class="schools">The George Washington University</p>
          </li>
        </a>

      </ul>
    </div>

  </div>

</div>
