
// main{
//   display: flex;
//   height: max-content;
//   padding: 8rem 2rem 2rem!important

// }
.main-background {

  background-color:whitesmoke;
  background-position: center;
  background-size: cover;
  height: max-content;
  padding: 8rem 2rem 2rem 2rem!important

}
