<div *ngIf="linkClicked" id="fullstackVideo" class="embed-responsive embed-responsive-21by9 pop-up-modal">
  <iframe class="embed-responsive-item" width="500" height="480" src="https://www.youtube.com/embed/H4M19g0xVJs"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
<div class="about-me-container">

  <div class="thread-animation">
    <hr id="thread1" class="right">
    <hr id="thread2" class="left">
    <h1>About Me</h1>
    <hr id="thread3" class="right">
    <hr id="thread4" class="left">
  </div>


  <p>I am a cleared <a href="#fullstackVideo" target="_blank" id="roleLink"
      class="headerVideoLink">Full Stack Developer</a>
    with hands on experience with both front end and
    back end web and software application devlopment. I graduated from DeVry University
    with a 4-year Bachelor of Science degree in Technical Management with a concentration in Information
    Technology. While enrolled at DeVry University I simultaneously attended and completed The George
    Washington
    University 24-week full stack coding bootcamp. During these extensive years and months of schooling
    I have attained knowledge in multiple programming languages including but not limited to
    JavaScript/ES6, jQuery , Python, VBS, HTML, CSS, SQL and noSQL. </p>

  <p>While enrolled in both of my educational institutions, outside of my programming experience I had the
    opportunity to simultaneously work and gain knowledge in high profile security that started
    during my time as a U.S Marine and continued after my honorable discahrge from my military service
    into the
    federal sector where I obtained a Top Secret/SCI with a CI Poly.</p>

  <p>I consider myself as a visionary, I like to work on projects that improve processes or provides a
    solution to pending social/world problems. When I look at something that is failing or is behind the
    curve on
    performance I do not see something that is obsolete or broken I see something that can be improved and
    my mind starts
    to come up with solutions. I am programming enthusiast who envisions a safer and more efficient way of
    life
    and I am determined to make a difference in the world of programming.
  </p>

</div>
<script>
  $(document).ready(function () {
    $('.headerVideoLink').magnificPopup({
      type: 'inline',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });
  });
</script>
