<div class="section" id="informationalVideos" >
  <div class="background">

    <div class="row">
      <div class="InformationalVideo-FrameworksHeader col-lg-12">
        <hr class="hr-text mb-3">
        <h1>Informational Videos</h1>
        <hr class="hr-text mt-3 mb-2">
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4 mt-4">
        <div class='video-alignment'>
          <h5>{{videoArray[0].name}}</h5>
        </div>
        <div class="hr1">
          <hr class="center-diamond">
        </div>
        <div class="video1">
          <iframe class='mt-1' height="200" [src]="link1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class='video-alignment'>
          <h5>{{videoArray[1].name}}</h5>
        </div>
        <div class="hr1">
          <hr class="center-diamond">
        </div>
        <div class="video2">
          <iframe class='mt-1' height="200" [src]="link2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class='video-alignment'>
          <h5>{{videoArray[2].name}}</h5>
        </div>
        <div class="hr1">
          <hr class="center-diamond">
        </div>
        <div class="video3">
          <iframe class='mt-1' height="200" [src]="link3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>


    </div>

    <div class="row">
      <div class="thread-animation mt-3 col-lg-12">
        <hr id="thread1">
        <hr id="thread2">
      </div>
    </div>

  </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js">
</script>

