<div class="footer-qoute-section ">
  <div class="footer-qoute-container">
    <div id="qoute-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="qoute">
            <em>
              "The days without difficulty are the days you do not improve."
            </em>
            <br />
            <br />
            <em>
              <strong> - Evan Winter</strong>
            </em>
          </div>
        </div>

        <div *ngFor='let element of qouteArray' class="carousel-item">
          <div class="qoute">
            <em>{{element.text}}</em>
            <br />
            <br />
            <em>
              <strong>{{element.author}}</strong>
            </em>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
