
.copyright-section {
  padding: 1rem;
  background-color: #343a40;
  text-align: center;
}

.copyright-container {
  display: flex;
  justify-items: center !important;
}

.copyright {
  text-align: center;
}

.copyright-icon {
  margin-right: .1rem;
  padding: .1rem;
  color: white;
}

.copyright-text {
  color: white;

}
